/* styles.css*/

* {background-color: lightgrey;}


h1 {
    font-family: "Norse";
    text-align: center;

    color: darkcyan;
    font-size: 80px;
    background-color: bisque;
    padding: 100px;
    margin: 50px;
    display: block;
    
    

}

ul {
    color: black;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    padding: 50px;
    background-color: bisque;
    margin: 200px;
    display: block;
    box-sizing: border-box;

    
    
    
}

div {
    font-size: 20px;
    font-family: cursive;
    text-align: justify;
    margin: 100px;
    background-color: bisque;
    display: block;
    padding: 20px;

    


}


#recipes {
    font-size: 100px;
}

#ingredients {
    font-size: 30px;
    font-weight: lighter;
}

img {
    height: 600px;
    width: 600px;
    display:block;
    margin:auto;
}

.heading {
    font-size: 100px;
    color: darkcyan;
    background-color: bisque;
    font-family: cursive;
    border-style: solid;
    text-align: center;
}

h5 {
    font-size: 50px;
}
