/* styles.css*/

h1 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: darkcyan;
    font-size: 200px;
    background-color: bisque;

}

ul {
    color: black;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}